{% extends "layout.html" %}

{% block y %}
<h2 class="centered">Blood Pressure Recording</h2>

<h4>
<form method="post" action="/bpregister"    align="center">
    <input type="text" name="name" placeholder="Name"  autofocus  sytle="height:12px; width:200px">
    <br>
    <input type="text" name="sys" placeholder="Systolic" >
    <br> / <br>
    <input type="text" name="dia" placeholder="Diastolic">
    <br>
    <input type="text" name="pul" placeholder="PULSE" style="height:12px;width:100px">
    <br><br>
    <input type="submit" value="Record BP">
    <br>
</form>
<form class="centered" action="/bpview">
    <button type="submit">View BP Data</button>
</form>
 </h4>  
{% endblock %} 

